* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}
:root {
  --green: hsl(160deg, 100%, 30%);
  --gold-light: hsl(45deg, 100%, 50%);
  --gold-dark: hsl(45deg, 100%, 40%);
  --gray-black: hsl(0deg, 0%, 0%);
  --gray-v-dark: hsl(0deg, 0%, 10%);
  --gray-dark: hsl(0deg, 0%, 30%);
  --gray-medium: hsl(0deg, 0%, 40%);
  --gray-light: hsl(0deg, 0%, 60%);
  --gray-white: hsl(0deg, 0%, 100%);
}
html,
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* Add styles here! */
header {
  color: hsl(0deg, 0%, 40%);
}
.intro-chunk {
  max-width: 300px;
  padding: 0 16px;
}
header .title {
  color: hsl(0deg, 0%, 10%);
  margin-bottom: 40px;
  font-size: 1.5rem;
}
header strong {
  color: hsl(160deg, 100%, 30%);
}

.max-width-wrapper {
  max-width: 800px;
  margin: 0 auto;
  padding: 48px 0;
}
main {
  background-color: var(--gray-light);
  box-shadow: inset 0 4px 0 var(--gray-medium);
}

.indented-heading {
  background-color: var(--gold-light);
  padding: 16px 32px;
  display: inline-block;
  color: var(--gray-dark);
  margin-top: 2px;
  margin-left: -32px;
  box-shadow: 0 4px 0 var(--gold-dark);
}
.card {
  background-color: #fff;
  padding: 16px 24px 16px 16px;
  overflow: visible;
  box-shadow: 0 4px var(--gray-medium);
}
